*{
    margin: 0;
    padding: 0;
}

@keyframes link{
    0%   {fontsize: 25px}
    10%   {font-size: 25.5px}
    20%   {font-size: 26px}
    30%   {font-size: 26.5px}
    40%   {font-size: 27px}
    50%   {font-size: 27.5px}
    60%   {font-size: 28px}
    70%   {font-size: 28.5px}
    80%   {font-size: 29px}
    90%   {font-size: 29.5px}
    100%   {font-size: 30px}
}

@keyframes linkreverse{
    0%   {font-size: 30px}
    10%   {font-size: 29.5px}
    20%   {font-size: 29px}
    30%   {font-size: 28.5px}
    40%   {font-size: 28px}
    50%   {font-size: 27.5px}
    60%   {font-size: 27px}
    70%   {font-size: 26.5px}
    80%   {font-size: 26px}
    90%   {font-size: 25.5px}
    100%   {font-size: 25px}
}

body{
    background-color: white;
}

header{
    background-color: #03357c;
    border-bottom: #ffcc00 5px solid;
    position: fixed;
    top: 0;
    width: 100%;
}

.header {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
}

.header img{
    width: 125px;
    margin: 15px 0;
}

.header a{
    text-decoration: none;
    font-family: arial;
    color: #ffcc00;
    font-size: 25px;
    margin: 0 15px;
    transition: color 0.2s ease-in-out;
    transition: 0.2s;
}

.header a:hover{
    color: white;
    text-decoration: underline;
    animation-name: link;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.header a:not(:hover) {
    animation: linkreverse 0.5s forwards;
}

.index-block{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    padding: 50px;
    background-color: #03357c;
    border-radius: 15px;
    box-shadow: #ffcc00 5px 5px ;

}

.info-block{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    padding: 50px;
    background-color: #03357c;
    border-radius: 15px;
    box-shadow: #ffcc00 5px 5px ;
}

.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial;
}

.image img{
    background-color: black;
    border-radius: 125px;

}

.image h1{
    color: #ffcc00;
    display: inline;
    background-color: black;
    border-radius: 15px;
    margin: 10px 0px;
    padding: 10px;

}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main{
    margin-top: 150px;
    margin-bottom: 50px;
}

main h1{
    width: 30%;
    text-align: center;
    margin: 25px 0;
    padding: 10px 10px;
    background-color: white;
    border-radius: 20px;
    border: #ffcc00 solid 2px;
    font-family: arial;
}

.schedule{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.schedule img{
    width: 700px;
    border-radius: 20px;
    box-shadow: black 1px 1px 5px 5px;
}

.schedule p{
    background-color: white;
    border-radius: 20px;
    border: #ffcc00 solid 2px;
    font-family: arial;
    margin: 0px 10px;
    margin-top: 30px;
    padding: 10px 10px;
    text-align: center;
}

.year{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.year img{
    width: 700px;
    background-color: white;
    border-radius: 20px;
    box-shadow: black 1px 1px 5px 5px;
}

.year p{
    background-color: white;
    border-radius: 20px;
    border: #ffcc00 solid 2px;
    font-family: arial;
    margin: 0px 10px;
    margin-top: 30px;
    padding: 10px 10px;
    text-align: center;
}

.year-block{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    padding: 50px;
    background-color: #03357c;
    border-radius: 15px;
    box-shadow: #ffcc00 5px 5px;
}


#button p{
    display: flex;
    justify-content: center;
    background-color: white;
    font-family: arial;
    padding: 10px 10px;
    border-radius: 20px;
    margin: 30px auto;
    width: 10%;
    transition: black 0.2s ease-in-out;
    transition: 0.2s;
    
    
    
}

#button p:hover{
    cursor: pointer;
    background-color: #bbb;
    transform: scale(1.1, 1.1);
}
#accalerated{
    display: none;
    justify-content: center;
    background-color: white;
    font-family: arial;
    border-radius: 20px;
    margin: 30px auto;
    width: 50%;
    padding: 10px;
    border: #ffcc00 solid 2px;
}

#accalerated p{
    text-align: center;
}

.native-block{
    margin: 0 auto;
    width: 80%;
    padding: 50px;
    background-color: #03357c;
    border-radius: 15px;
    box-shadow: #ffcc00 5px 5px ;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.native-block p{
    background-color: white;
    border-radius: 20px;
    border: #ffcc00 solid 2px;
    font-family: arial;
    margin: 0px 10px;
    margin-top: 30px;
    padding: 10px 10px;
    text-align: center;
}

.native-block h1{
    width: 30%;
    text-align: center;
    margin: 25px 0;
    padding: 10px 10px;
    background-color: white;
    border-radius: 20px;
    border: #ffcc00 solid 2px;
    font-family: arial;
}

.native-images{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: black 1px 1px 5px 5px;
}

.native-images img{
    width: 150px;
    
}

.web-block{
    margin: 0 auto;
    width: 80%;
    padding: 50px;
    background-color: #03357c;
    border-radius: 15px;
    box-shadow: #ffcc00 5px 5px ;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.web-images{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: black 1px 1px 5px 5px;
}

.web-images img{
    width: 150px;
}

.web-block p{
    background-color: white;
    border-radius: 20px;
    border: #ffcc00 solid 2px;
    font-family: arial;
    margin: 0px 10px;
    margin-top: 30px;
    padding: 10px 10px;
    text-align: center;
}

.native-block h2{
    width: 30%;
    text-align: center;
    margin: 25px 0;
    padding: 10px 10px;
    background-color: white;
    border-radius: 20px;
    border: #ffcc00 solid 2px;
    font-family: arial;
}

.pro-block{
    margin: 0 auto;
    width: 80%;
    padding: 50px;
    background-color: #03357c;
    border-radius: 15px;
    box-shadow: #ffcc00 5px 5px ;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.pro-block p{
    background-color: white;
    border-radius: 20px;
    border: #ffcc00 solid 2px;
    font-family: arial;
    margin: 0px 10px;
    margin-top: 30px;
    padding: 10px 10px;
    text-align: center;
}

.pro-block h2{
    width: 30%;
    text-align: center;
    margin: 25px 0;
    padding: 10px 10px;
    background-color: white;
    border-radius: 20px;
    border: #ffcc00 solid 2px;
    font-family: arial;
}

.pro-images{
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: black 1px 1px 5px 5px;
}

.pro-images img{
    width: 150px;
    padding: 10px 0px;
}

.pra-block{
    
}

.mySlide{
    display: none;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.slideButtons span{
    font-family: arial;
    font-size: 30px;
    cursor: pointer;
    background-color: #03357c;
    color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px black;
    transition: ease background-color 0.6s;
    margin: 10px 5px;
    padding: 5px 5px;
    transition: 0.2s ease-in-out;
}

.slideButtons span:hover{
    transform: scale(1.1, 1.1);

}

.active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px 50px;
    margin: 0 auto;
    width: 80%;
  }

.griditem{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #03357c;
    padding: 50px 50px;
}

.griditem img{
    width: 200px;
    border-radius: 9999px;
    border: #ffcc00 solid 2px;
}

.teacher-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 10px 10px;
    background-color: white;
    box-shadow: 1px 1px 2px 2px;
    border-radius: 20px;
}

.teacher-info h2{
    font-family: Arial;
}

.teacher-info p{
    font-family: Arial;
}




