*{
    margin: 0;
    padding: 0;
}

@keyframes link{
    0%   {font-size: 25px}
    10%   {font-size: 25.5px}
    20%   {font-size: 26px}
    30%   {font-size: 26.5px}
    40%   {font-size: 27px}
    50%   {font-size: 27.5px}
    60%   {font-size: 28px}
    70%   {font-size: 28.5px}
    80%   {font-size: 29px}
    90%   {font-size: 29.5px}
    100%   {font-size: 30px}
}

@keyframes linkreverse{
    0%   {font-size: 30px}
    10%   {font-size: 29.5px}
    20%   {font-size: 29px}
    30%   {font-size: 28.5px}
    40%   {font-size: 28px}
    50%   {font-size: 27.5px}
    60%   {font-size: 27px}
    70%   {font-size: 26.5px}
    80%   {font-size: 26px}
    90%   {font-size: 25.5px}
    100%   {font-size: 25px}
}

body{
    background-color: white;
}

header{
    background-color: #03357c;
    border-bottom: #ffcc00 5px solid;
    animation-name: link;
}

.header {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
}

.header img{
    width: 125px;
    margin: 15px 0;
}

.header a{
    text-decoration: none;
    font-family: arial;
    color: #ffcc00;
    font-size: 25px;
    margin: 0 15px;
    transition: color 0.2s ease-in-out;
    transition: 0.2s ;
}

.header a:hover{
    color: white;
    text-decoration: underline;
    animation-name: link;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.header a:not(:hover) {
    animation: linkreverse 0.5s forwards;
}

main{
    padding: 50px;
    background-color: #03357c;
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    border-radius: 15px;
    box-shadow: #ffcc00 5px 5px ;
}

.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial;
}

.image img{
    background-color: black;
    border-radius: 125px;

}

.image h1{
    color: #ffcc00;
    display: inline;
    background-color: black;
    border-radius: 15px;
    margin: 10px 0px;
    padding: 10px;

}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main h1{
    width: 30%;
    text-align: center;
    margin: 25px 0;
    padding: 10px 10px;
    background-color: white;
    border-radius: 20px;
    border: #ffcc00 solid 2px;
    font-family: arial;
}

.schedule {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}

.schedule img{
    width: 500px;
    border-radius: 20px;
    border: #ffcc00 solid 2px;
}

.schedule p{
    background-color: white;
    border-radius: 20px;
    border: #ffcc00 solid 2px;
    font-family: arial;
    margin: 0 5px;
    padding: 10px 10px;
}




